
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Poggers {
  background-color: #91c579;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 50px;
}

header {
  margin-bottom: 15px;
  font-size: large;
}

article {
  background-color: #86c767;
  border: 1px solid #2f7c20;
  padding: 20px;
}
button{
  border: 1px solid #2f7c20;
  background-color: #5cad36;
  padding: 10px;
}
button:hover{
  background-color: #3b6e24;
  cursor: pointer;
}
@media (max-height : 600px) {
  .Poggers {
    padding: 20px;
    height: auto;
  }

  article {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
  }

  img {
    width: 100px; 
    height: 100px;
  }

  p {
    font-size: 14px;
  }
}